.nosotros__img{
    height: 500px;
    width: 400px;
}

.nosotros__contenedor{
    display: flex;
    justify-content:space-evenly;
} 

.imagen-about-us{
    width: 48%;
}

.nosotros__contenedor .nosotros__texto{
    width: 48%;
}

.nosotros__texto h3{
    margin-bottom: 15px;
    font-family: var(--letra);
}

.nosotros__texto h3 span{
    color: var(--gris);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 5px;
}

.nosotros__texto p{
    padding: 0px 0px 30px 30px;
    font-weight: 300;
    text-align: justify;

}


.person{
    display: flex; 
    justify-content: space-evenly;
}

.person__info{
    display:flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 var(--sombra);
}

.person__info img{
   width: 100px;
   height: 100px;
   object-fit: cover;
   border: 3px solid var(--blanco);
   border-radius: 50%; 
   display: block;
}

.person__info > .person__texto{
     width: 60%;
}

.person__info > .person__texto p{
    font-weight: 300;
    padding-top: 5px;
}


.aliados{
    background: var(--semiBlanco);
    padding-bottom: 10px;
}

.aliados__global{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    background: var(--semiBlanco);
}

.aliados__individual{
    width: 30%;
    text-align: center;
}

.aliados__individual img{
    width: 80%;
    height: 70%;
    padding: 10px;
}

.aliados__individual h3{
    margin: 10px 0;
}