@import "../css/index.css";


:root {
  --negro: black;
  --gris: #262626;
  --blanco: #fff;
  --letra: 'open sans';
  --semiBlanco: #f2f2f2;
  --colorRosa: #ffceda;
  --colorAzul: #1d2b64d8;
  --colorRosaClaro: #f8cddab0;
  --sombra: #00000080;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--letra);

}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: var(--negro);
    font-family: var(--letra);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.gradient{
    background: #1D2B64; 
    background: -webkit-linear-gradient(to left, var(--colorRosaClaro), var(--colorAzul)), url(/img/inicio/portada.jpg); 
    background: linear-gradient(to left, var(--colorRosaClaro),var(--colorAzul)), url(/img/inicio/portada.jpg); 
}

.header{
    width: 100%;
    height: 500px;
    position: relative;
}

.header__menu{
    display: flex;
    justify-content: flex-end;
}
.header__menu > a{
    text-align: center;
    font-size: 20px;
    color: var(--negro);
    text-decoration: none;

    padding: 10px 10px 10px 10px;
}

.header__texto{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.header__texto h1{
    font-size: 50px;
    color: var(--negro);
}
.header__texto h4{
    font-size: 30px;
    font-weight: 300;
    color: var(--gris);
}

.barra{
    width: 100%;
    height: 10px;
    bottom: 0;
    border-radius: 10px;
    position: absolute;
    background: linear-gradient(to right, var(--colorRosa), var(--colorAzul)); 
    animation: animate-1 4s linear infinite;
}

@keyframes animate-1  {
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(100%);
    }
}


footer{
    background: var(--negro);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor__fooder{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--blanco) ;
}

.contenedor__info {
    color: var(--blanco);
    border-bottom: 1px solid var(--blanco);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contenedor__info p {
    color: var(--blanco);
}

.contenedor__info img{
    width: 90%;
    height: 6dvh;
}


