.nosotros__img{
    height: 31.25rem;
    width: 25rem;
}

.nosotros__contenedor{
    display: flex;
    justify-content:space-evenly;
} 

.imagen-about-us{
    width: 48%;
}

.nosotros__contenedor .nosotros__texto{
    width: 48%;
}

.nosotros__texto h3{
    margin-bottom: 0.938rem;
    font-family: var(--letra);
    color: var(--colorAzul);
}

.nosotros__texto p{
    padding: 0px 0px 30px 30px;
    font-weight: 300;
    text-align: justify;

}


.person{
    display: flex; 
    justify-content: space-evenly;
}

.person__info{
    display:flex;
    width: 46%;
    height: 9.375rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.313rem;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 0 6px 0 var(--sombra);
}

.person__info img{
   width: 6.25rem;
   height: 6.25rem;
   object-fit: cover;
   border: 3px solid var(--blanco);
   border-radius: 50%; 
   display: block;
 
}

.person__info > .person__texto{
     width: 60%;
}

.person__info > .person__texto p{
    font-weight: 300;
    padding-top: 0.313rem;
}


.aliados{
    background: var(--semiBlanco);
    padding-bottom: 0.625rem;
}

.aliados__global{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.25rem;
    margin: 1.25rem;
    background: var(--semiBlanco);
}

.aliados__individual{
    width: 30%;
    text-align: center;
}

.aliados__individual img{
    width: 80%;
    height: 70%;
    padding: 0.625rem;
}

.aliados__individual h3{
    margin: 10px 0;
}



@media screen and (max-width:900px) {
    .nosotros__contenedor{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nosotros .nosotros__texto{
        width: 90%;
        padding: 20px;
    }

    .person{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .person__info{
        width: 90%;
    }

    .person__info:first-child{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:550px) {
    .aliados__global{
        justify-content: center;
        flex-direction: column;
    }

    .aliados__individual{
        width: 100%;
        text-align: center;
    }

    .aliados__individual:nth-child(1), .aliados__individual:nth-child(2){
        margin-bottom: 60px;
    }

    .aliados__individual img{
        width: 90%;
    }
}