.titulo2 {
    color: var(--negro);
    font-family: var(--letra);
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 0.625rem;
}

.portafolio{
    background: var(--blanco);
}

.FotosLugares{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 3.75rem; 
}

.imagen{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.imagen__port{
    width: 38%;
    margin-bottom: 0.625rem;
    overflow: hidden;
    position: relative;
    cursor:pointer;
    border-radius: 0.625rem;
}

.imagen__port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.imagen__hover{
   position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    transition: transfrom .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.625rem;
}

.imagen__hover > p{
    text-align: center;
}

.imagen__port:hover .imagen__hover{
    transform: scale(1);
}

@media screen and (max-width: 820px) {
    .imagen__text{
        font-size: 0.88rem;
    }
}

@media screen and (max-width: 620px) {
    .imagen__text{
        font-size: 0.68rem;
    }
}

@media screen and (max-width: 420px) {
    .imagen__text{
        font-size: 0.48rem;
    }
}