.foto{
    background: var(--semiBlanco);
    margin-bottom: 3.75rem;
    border-radius: 0.625rem;
    width: 100%;
}

.foto img{
    width: 100%;

}

.foto__imagen{
    display: flex;
    width: 62.5rem;
    height: 43.75rem;
    margin-bottom: 1.25rem;
    position: relative;
    box-shadow:  0 0 6px 0 var(--sombra);
    border-radius: 0.625rem; 
}

.foto__imagen > img {
    width: 62.5rem;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.625rem;
}

.foto:hover .imagen__hover{
    transform: scale(1);
}



@media screen and (max-width:1080px) {
    .foto{
        width: 90%;
        height: 36.58rem;
        margin: 0 0 0 3.5rem;
    }

    .foto__imagen{
        width: 100%;
        height: 40.58rem;
    }

    .foto img{
        width: 100%;
        height: 100%;
    
    }

    .foto__imagen > img {
        width: 100%;
        height: 100%;
        
    }

}


@media screen and (max-width:800px) {
    .foto{
        margin: 0 0 0 3.0rem;
    }

    .foto__imagen p{
        font-size: medium;
    }
}

@media screen and (max-width:700px) {
    .foto{
        margin: 0 0 0 2.0rem;
    }

    .foto__imagen p{
        font-size: medium;
    }
}