.titulo3{
    display: flex;
    justify-content: center;
}

.clientes__global{
    display: flex; 
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding: 0.625rem;
    margin: 1.25rem;
    margin-bottom: 1.25rem;
}

.clientes__individual{
    display:flex;
    width: 30%;
    height: 18.75rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.313rem;
    box-shadow: 0 0 6px 0 var(--sombra);
    flex-direction: column;
    margin-bottom: 1.25rem;

}

.clientes__individual img{
   width: 6.25rem;
   height: 6.25rem;
   object-fit: cover;
   border: 3px solid var(--blanco) ;
   border-radius: 50%; 
   display: block;
}

.clientes__individual > .clientes__texto{
     width: 60%;
}

.clientes__individual > .clientes__texto p{
    font-weight: 300;
    padding-top: 0.313rem;
    text-align: center;
}

